<<<<<<< HEAD

.directory-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
=======

.directory-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
>>>>>>> 7eb0963052b0246c804068fd8b6af63c494fd796
}