<<<<<<< HEAD
body{
    font-family: 'Open Sans Condenced';
    padding: 20px 60px;
=======
body{
    font-family: 'Open Sans Condenced';
    padding: 20px 60px;
>>>>>>> 7eb0963052b0246c804068fd8b6af63c494fd796
}